html {
    direction: rtl;
    
}
#header {
    height: 6rem;
}
    #header .navbar-section {
        height: 6rem;
    }
    
    #header .logo svg, #header .logo img {
        height: 100px;
        display: inherit;
    }
    body.header-fixed.header-animated #header.scrolled .logo svg, 
    body.header-fixed.header-animated #header.scrolled .logo img {
        height: 50px;
        padding: 10px 0;
    }

#admin-dashboard #notifications, #admin-dashboard #news-feed {
    display: none;
}