{# {% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
<a href="{{ home_url }}" class="navbar-brand mr-10">
{% if logo %}
  {% set logo_file = (logo|first).name %}
  <img src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="{{ site.name }}" /> #}
  <a href="{{ home_url }}" title="{{ site.title|e('html') }}" class="navbar-brand mr-10">
    <img src="{{ url('theme://images/logo/logo.jpg') }}" />
  </a>

{# {% else %}
  {% include('@images/grav-logo.svg') %}
{% endif %}
</a> #}