{% if authorize(['admin.super']) %}
    <div id="news-feed" class="dashboard-item admin-block default-box-shadow">
        <h1>
            {{ "PLUGIN_ADMIN.NEWS_FEED"|tu }}
            <span class="right">
                <a href="#" class="button button-small" data-refresh="feed"><i class="fa fa-refresh"></i></a>
            </span>
        </h1>

        <div class="widget-content">
        <div class="widget-loader"><i class="fa fa-refresh fa-spin"></i></div>
            <ul></ul>
        </div>
    </div>
{% endif %}
